__pycache__/
*.py[cod]
*$py.class

DocSets/documents/null_binary_implicit/
DocSets/documents/null_binary_explicit/
DocSets/documents/null_implicit_binary_explicit/
DocSets/documents/null_explicit_binary_implicit/
Config/.env
GroundTruth/MINIDEV
GroundTruth/MINIDEV_postgresql/BIRD_dev.sql
